fastapi==0.115.6
pydantic==2.10.6
uvicorn==0.22.0
pandas==2.2.3
langchain==0.3.14
langchain-google-genai==2.0.0
langchain-experimental==0.3.2
llama-index==0.12.5
llama-index-llms-openrouter==0.3.1
llama-index-experimental==0.5.2
langchain-groq==0.2.1
yt_dlp
langchain_core
langchain_cohere
langchain_together
langgraph
psycopg2
langchain_core
langchain_community